html {
    --page-font-size: 0.9rem;
    --line-height: 1.625;
    --font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "BIZ UDPGothic", Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
    --font-family-monospace: consolas, Menlo, 'Liberation Mono', Courier, meiryo, arial, monospace;
}

body {
    line-height: var(--line-height);
}

/**
 * adjust header font size
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }


/*
 * disable glow effects
 */
h1.glow, h2.glow, h3.glow, h4.glow, h5.glow, h6.glow {
    text-shadow: none;
}

div.line.glow {
    background-color: inherit;
}

.memberdecls td.glow, .fieldtable tr.glow {
    background-color: inherit;
}
